@model WebApplication1.Models.eBayFindResultsViewModel

@{
    ViewBag.Title = "Items";
}

<h2>eBayItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       <th>
          @Html.DisplayNameFor(model => model.Items[0].GalleryURL)
       </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].Title)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Items[0].PrimaryCategoryName)
        </th>               
        <th>
            @Html.DisplayNameFor(model => model.Items[0].PaymentMethod)
        </th>
        
    </tr>

@if (Model != null)
{
   foreach (var item in Model.Items)
   {
    <tr>

       <td>
          <a href="@item.ViewItemURL">
             <img src="@Url.Content(item.GalleryURL)" alt="Image" />
          </a>
       </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryCategoryName)
        </td>                
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        
    </tr>
   }
   


}

</table>
<table class="table">
   <tr>Page
      @for (int i = 1; i < Math.Min(10,Model.PaginationInfo.TotalPages); i++)
      {
         using (Html.BeginForm())
         {
         <td>@Html.ActionLink(i.ToString(), "eBayFindByKeywordsAsync", "eBayFind", new { PageNumber = i, Query = Model.Query }, new { @class = "navbar-brand" })</td>
         }
      }
   </tr>
</table>
